:root{
    --color-icon-youtube : #ff0000;
    --color-font-primary : #000000;
    --color-font-secondary : rgb(40, 38, 38);
    --color-font-tertiary : #aaa5a53d;
    --color-font-cuartiary : #aaa5a52d;
    --color-font-button-likes : #4e464692;
    --color-font-quintuary : rgb(28, 27, 27);
    --color-text-primary : #ffffffd7;
    --color-text-icon-youtube : #ffffff;
    --color-text-secondary : #aaa5a5;
    --color-text-cuartiary : #aaa5a5c3;
    --color-border-input-search : #0084ff;
    --color-font-hover-buttons : #aaa5a55e;
    --color-font-hover-button-reintentar: #0084ff43;
    --color-font-nav-items: #2d2b2b3f;
}

/**------------General------------**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: var(--color-font-primary);
    width: 100%;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 9px;
}
body::-webkit-scrollbar-thumb{
    background: var(--color-text-secondary);
    border-radius: 30px;
}
/**--------------------------------**/

/**-------------Nav top------------**/
.nav-top{
    position: fixed;
    background-color: var(--color-font-primary);
    color: var(--color-text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    z-index: 20;
}
.nav-top .menu{
    border: none;
    outline: none;
    background-color: var(--color-font-primary);
    margin-left: 18px;
    color: var(--color-text-primary);
}
.nav-top .menu ion-icon{
    width: 27px;
    height: 27px;
    padding: 5px;
}
.nav-top .menu ion-icon:hover{
    cursor: pointer;
    border-radius: 50px;
    background-color: var(--color-font-tertiary);
}
.nav-top .perfil{
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: auto 25px auto 32px;
}
.nav-top .perfil:hover{
    cursor: pointer;
}
.nav-top .search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62%;
    padding-right: 60px;
    outline: none;
    border: none;
}
.nav-top .search input{
    order: 2;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    background-color: var(--color-font-primary);
    border: 1.7px solid rgb(40, 38, 38);
    padding: 10px 5px 10px 15px;   
    letter-spacing: 1px;
    font-size: 15px;
    width: 500px;
    color: var(--color-text-primary);
}
.nav-top .search input:focus{
    border: 0.1px solid var(--color-border-input-search);
    border-left: 0px;
    border-radius: 0px;
}
.nav-top .search input:focus ~ .buscador-oculto{
    visibility: visible;
}
.nav-top .buscador-oculto{
    visibility: hidden;
    order: 1;
    border-top: 0.1px solid var(--color-border-input-search);
    border-bottom: 0.1px solid var(--color-border-input-search);
    border-left: 0.1px solid var(--color-border-input-search);;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    padding: 10px 0px 9px 15px;
    color: var(--color-text-primary);
    width: 18px;
    height: 18px;
}
.nav-top .search .buscador{
    order: 3;
    padding: 8.09px 20px;
    background-color: var(--color-font-secondary);
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.nav-top .search .buscador ion-icon{
    width: 20px;
    height: 20px;
    color: var(--color-text-primary);
}
.nav-top .search .buscador:hover{
    cursor: pointer;
}
.nav-top .search .micro{
    order: 4;
    width: 23px;
    height: 23px;
    padding: 10px;
    margin-left: 7px;
}
.nav-top .search .micro:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--color-font-tertiary);
}
.search-video-micro{
    position: absolute;
    visibility: hidden;
    min-width: 610px;
    max-width: 610px;
    height: 400px;
    background-color: var(--color-font-quintuary);
    transform: translate(-50px,178px);
    padding: 10px 40px;
}
.search-video-micro p:nth-child(1){
    text-align: end;
    margin-right: -27px;
}
.search-video-micro p:nth-child(1) ion-icon{
    width: 30px;
    height: 30px;
    background-color: transparent;
    color: var(--color-text-primary);
    padding: 5px;
    border-radius: 50%;
}
.search-video-micro p:nth-child(1) ion-icon:hover{
    cursor: pointer;
    background-color: var(--color-font-tertiary);
}
.search-video-micro p:nth-child(2){
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 25px;
}
.search-video-micro p:nth-child(3){
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.3px;
    color: var(--color-text-secondary);
}
.search-video-micro p:nth-child(4){
    text-align: center;
}
.search-video-micro p:nth-child(4) ion-icon{
    width: 45px;
    height: 45px;
    margin-top: 140px;
    padding: 10px;
    border-radius: 50%;
    background-color: var(--color-font-button-likes);
}
.search-video-micro p:nth-child(4) ion-icon:hover{
    cursor: pointer;
}
.nav-top .icons ion-icon{
    width: 23px;
    height: 23px;
    padding: 10px;
}
.nav-top .icons ion-icon:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--color-font-tertiary);
}
.nav-top .icons{
    display: flex;
    justify-content: flex-end;
    width: 18%;
    height: 42px;
    gap: 10px;
    padding: 0px;
}
.nav-top .icons .options{
    visibility: hidden;
    position: absolute;
    display: block;
    width: 190px;
    border-radius: 10px;
    background-color: var(--color-font-secondary);
    color: var(--color-text-primary);
    padding: 7px 0px;
    z-index: 20;
    transform: translate(-130px,45px);
}
.nav-top .icons .options .option{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px;
    color: var(--color-text-icon-youtube);
}
.nav-top .icons .options .option ion-icon{
    width: 25px;
    height: 25px;
    padding: 0px 5px;
}
.nav-top .icons .options .option p{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding-top: 1.5px;
}
.nav-top .icons .options .option:hover{
    cursor: pointer;
    background-color: var(--color-font-cuartiary);
}
.nav-top .icons .notification{
    width: 17px;
    height: 23px;
}
.nav-top .icons .notification ion-icon::before{
    position: absolute;
    content: "•"; 
    transform: translate(8.60px, -5.5px); 
}
.nav-top .icons .icon-notification{
    position: absolute;
    visibility: hidden;
    color: var(--color-text-icon-youtube);
    background-color: var(--color-font-secondary);
    width: 475px;
    height: 600px;
    border-radius: 15px;
    transform: translate(-120px,0px);
}
.nav-top .icons .icon-notification .header{
    display: flex;
    align-items: center;
    padding: 3px 10px 10px 17px;
    margin-bottom: -18px;
}
.nav-top .icons .icon-notification .header p:nth-child(1){
    width: 50%;
    font-size: 15px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}
.nav-top .icons .icon-notification .header p:nth-child(2){
    width: 50%;
    text-align: end;
}
.nav-top .icons .items-notification{
    display: block;
}
.nav-top .icons .items-notification .item-notification{
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: -7px;
    padding: 20px 10px;
}
.nav-top .icons .items-notification .item-notification:hover{
    cursor: pointer;
    background-color: var(--color-font-cuartiary);
}
.nav-top .icons .items-notification .item-notification:hover p:nth-child(5){
    visibility: visible;
}
.nav-top .icons .items-notification .item-notification p:nth-child(1){
    font-size: 25px;
    font-weight: bold;
    margin: 3px auto;
    color: var(--color-border-input-search);
}
.nav-top .icons .items-notification .item-notification p:nth-child(2) img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.nav-top .icons .items-notification .item-notification p:nth-child(3){
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 13.5px;
    padding: 0 5px;
}
.nav-top .icons .items-notification .item-notification p:nth-child(3) span{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: var(--color-text-secondary);
}
.nav-top .icons .items-notification .item-notification p:nth-child(4){
    padding-right: 15px;
}
.nav-top .icons .items-notification .item-notification p:nth-child(4) img{
    width: 85px;
    height: 50px;
    border-radius: 5px;
}
.nav-top .icons .items-notification .item-notification p:nth-child(5){
    text-align: center;
    visibility: hidden;
}
.nav-top .icons .items-notification .item-notification p:nth-child(5) ion-icon{
    width: 18px;
    height: 18px;
    margin-top: -8px;
}


/**---Click menu---**/
.nav-top .menu .items-menu{
    position: fixed;
    top: 0px;
    left: -236px;
    color: var(--color-text-primary);
    background-color: var(--color-font-primary);
    width: 235px;
    z-index: 20;
}
.nav-top .items::-webkit-scrollbar{
    width: 9px;
}
.nav-top .items:hover::-webkit-scrollbar-thumb{
    background: var(--color-text-cuartiary);
    border-radius: 30px;
}
.nav-top .items{
    height: 90vh;
    padding: 10px 20px 0px 10px;
    overflow-x: hidden;
}
.nav-top .logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 8px;
    width: 20%;
}
.nav-top .menu .items-menu .logo{
    display: flex;
    align-items: center;
    padding: 10px 5px;
}
.logo .menu{
    margin-left: 10px;
    margin-right: 12px;
}
.nav-top .menu .logo .menu ion-icon{
    margin: auto;
    padding-top: 5px;
    color: var(--color-text-primary);
}
.nav-top .logo img{
    width: 27.5px;
    height: 27.5px;
}
.nav-top .logo a{
    display: flex;
    gap: 2px;
    text-decoration: none;
}
.nav-top .logo a p{
    font-size: 22.3px;
    letter-spacing: -2.1px;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 2px;
    color: var(--color-text-primary);
}
.nav-top .logo a p::after{
    position: absolute;
    content: "AR";
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 1px;
    transform: translate(5px, -4.5px);
}
.nav-top .item{
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 11px;
    width: 200px;
    padding: 5px 2px 5px 7px;
}
.nav-top .items .linea-item{
    margin: -6px 0 10px 0;
    color: var(--color-font-hover-buttons);
}
.nav-top .menu .item:nth-child(1){
    background-color: var(--color-font-cuartiary);
}
.nav-top .menu .item:hover{
    cursor: pointer;
    background-color: var(--color-font-cuartiary);
}
.nav-top .menu .item ion-icon:hover{
    background-color: transparent;
}
.nav-top .menu .item a{
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: var(--color-text-primary);
}
.nav-top .menu .item ion-icon{
    width: 22px;
    height: 22px;
}
.nav-top .menu .sub-title-item{
    padding: 5px 2px 5px 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: start;
}
.nav-top .menu .sub-title-footer-item{
    color: var(--color-text-secondary);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 13.5px;
    text-align: start;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-right: 11px;
}
.nav-top .menu .item-subscription img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.nav-top .menu .item-footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    padding-bottom: 10px;
    padding-left: 5px;
    color: var(--color-text-cuartiary);
}
.nav-top .menu .item-footer ion-icon{
    width: 12px;
    height: 12px;
    margin-top: -4px;
}
@keyframes animate_nav_items_menu_view{
    0%{
        left: -235px;
    }
    100%{
        left: 0px;
    }
}
@keyframes animate_nav_items_menu_hidden{
    0%{
        left: 0px;
    }
    100%{
        left: -235px;
    }
}
/**--------------------------------**/

/**---------Nav categories---------**/
.prev ion-icon, .next ion-icon{
    position: fixed;
    color: var(--color-text-primary);
    width: 21px;
    height: 21px;
    z-index: 10;
    top: 66px;
    padding: 8.5px;
    border-radius: 50%;
}
.prev ion-icon:hover, .next ion-icon:hover{
    cursor: pointer;
    background-color: var(--color-font-hover-buttons);
}
.prev{
    position: fixed;
    background-color: var(--color-font-primary);
    box-shadow: 8px -10px 40px 7px var(--color-font-primary);
    width: 80px;
    height: 50px;
    left: 0px;
    top: 60px;
    z-index: 15;
    border: none;
    outline: none;
}
.prev ion-icon{
    left: 30px;
}
.next{
    position: fixed;
    background-color: var(--color-font-primary);
    box-shadow: -8px -10px 40px 7px var(--color-font-primary);
    width: 102px;
    height: 50px;
    right: 0px;
    top: 60px;
    z-index: 15;
    border: none;
    outline: none;
}
.next ion-icon{
    right: 25px;
}
.nav-categories{
    color: var(--color-text-primary);
    position: fixed;
    z-index: 10;
    left: 90px;
    top: 60px;
    padding: 10px 10px 10px 10px;
    width: 91%;
    display: flex;
    background-color: var(--color-font-primary);
    justify-content: space-between;
    overflow-x: scroll;
    gap: 10px;
}
.nav-categories::-webkit-scrollbar{
    height: 0px;
}
.nav-categories #selected{
    background-color: var(--color-text-primary);
    color: var(--color-font-primary);
}
.nav-categories .categori{
    background-color: var(--color-font-secondary);
    padding: 8px 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.3px;
    letter-spacing: 0.4px;
    max-height: 30px;
    border-radius: 7px;
    text-decoration: none;
    color: var(--color-text-primary);
}
.nav-categories .categori:hover{
    cursor: pointer;
    background-color: var(--color-font-hover-buttons);
}
/**--------------------------------**/

/**------------Nav left------------**/
.nav-left{
    position: fixed;
    background-color: var(--color-font-primary);
    top: 60px;
    left: 0px;
    width: 75px;  
    height: 100%;
    z-index: 15;
    color: var(--color-text-primary);
}
.nav-left .icon{
    display: block;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 1.5px;
    text-decoration: none;
    color: var(--color-text-primary);
}
.nav-left .icon ion-icon{
    width: 23px;
    height: 23px;
}
.nav-left .icon:hover{
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--color-font-tertiary);
}
.nav-left .icon p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9.4px;
    font-weight: 500;
    margin-top: 5px;
    letter-spacing: 0.3px;
}
.nav-left ion-icon{
    color: var(--color-text-primary);
}
.nav-left .icon-triangulo::before, .nav-left .icon-cuadrado::before{
    position: absolute;
    content: "►";
    color: var(--color-text-primary);
    font-size: 7px;
}
.nav-left .icon-triangulo::before{
    transform: translate(9.2px, 10.5px);
}
.nav-left .icon-cuadrado::before{
    transform: translate(11px, 10px);
}
/**---------------------------------**/

/**--------------Videos-------------**/

.line-nav-options{
    margin: 7px 0px;
    border-bottom: 1px solid var(--color-text-secondary);
    opacity: 0.4;
}
.videos{
    background-color: var(--color-font-primary);
    padding: 137px 0px 50px 95px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 13.5px;
    color: var(--color-text-primary);
}
.videos a{
    padding-left: 10px;
    text-decoration: none;
    color: var(--color-text-primary);
}
.videos .video{
    width: 357px;
    margin-bottom: 30px; 
} 
.videos .video:hover{
    cursor: pointer;
}
.videos .video .imagen img{
    border-radius: 12px;
    width: 100%;
    height: 200px;
}
.videos .video .imagen .duration{
    position: relative;
    z-index: 5;
    transform: translateY(-26px);
    padding: 0px 5px;
    text-align: end;
}
.videos .video .imagen .duration span{
    position: relative;
    width: auto;
    padding: 1.8px 3px;
    background-color: var(--color-font-primary);
    color: var(--color-text-primary);
    border-radius: 4px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.3px;
}
.videos .video .icon-autor{
    display: flex;
    gap: 12px;
    margin-top: -7px;
}
.videos .video .icon-autor .options{
    visibility: hidden;
    position: absolute;
    display: block;
    width: 285px;
    border-radius: 10px;
    background-color: var(--color-font-secondary);
    color: var(--color-text-primary);
    padding: 7px 0px;
    z-index: 20;
    transform: translate(330px,-338px);
}
.videos .video .icon-autor .icon-options{
    visibility: hidden;
    width: 5%;
    text-align: center;
}
.videos .video .icon-autor .icon-options ion-icon{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    padding: 8px;
    margin-left: 5px;
}
@keyframes animate_click_icon_options{
    0%,100%{
        background: var(--color-font-button-likes);
    }
}
.videos .video:hover .icon-options{
    visibility: visible;
}
.videos .video .icon-autor .option{
    display: flex;
    align-items: center;
    gap: 13.5px;
    padding: 5.3px 14px;
}
.videos .video .icon-autor .option p{
    width: 100%;
    padding-top: 1.5px;
    padding-right: 3px;
    font-size: 13px;
    font-weight: 500;
    color: var(--color-text-icon-youtube);
}
.videos .video .icon-autor .option ion-icon{
    width: 27px;
    height: 27px;
}
.videos .video .icon-autor .option:hover{
    cursor: pointer;
    background-color: var(--color-font-cuartiary);
}
.videos .video .icon-autor img{
    max-width: 35px;
    min-width: 35px;
    height: 35px;
    border-radius: 50px;
    width: 18%;
}
.videos .video .icon-autor p{
    width: 75%;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.3px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: var(--color-text-primary);
}
.videos .video .name-autor{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 45px;
    font-size: 11.8px;
    letter-spacing: 0.2px;
    margin-top: 8px;
    color: var(--color-text-secondary);
}
.videos .video .name-autor:hover{
    cursor: pointer;
    color: var(--color-text-primary);
}
.videos .video .name-autor ion-icon{
    width: 14px;
    height: 14px;
    color: var(--color-text-secondary);
}
.videos .video .visualizaciones{
    margin-top: 3px;
    padding-left: 45px;  
}
.videos .video .visualizaciones p{
    font-size: 11.8px;  
    letter-spacing: 0.4px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text-secondary);
}
/**--------------------------------**/

/**--------Search videos-----------**/
.search-videos{
    background-color: var(--color-font-primary);
    padding: 70px 40px 50px 110px;
    height: 100%;
    display: block;
    flex-wrap: wrap;
    gap: 15px;
    color: var(--color-text-primary);
}
.search-videos .filter{
    background-color: var(--color-font-primary);
    padding: 2px 0px;
    border-bottom: 0.1px solid var(--color-font-hover-buttons);
}
.search-videos .filter button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    outline: none;
    border: none;
    padding: 5px 15px;
    background-color: transparent;
}
.search-videos .filter button p{
    padding-top: 2px;
    color: var(--color-text-primary);
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.search-videos .filter button ion-icon{
    color: var(--color-text-primary);
    width: 25px;
    height: 25px;
}
.search-videos .filter button:hover{
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--color-font-button-likes);
}
.search-videos .videos{
    display: block;
    padding: 15px 10px 1px 10px;
    background-color: var(--color-font-primary);
}
.search-videos .videos .options{
    visibility: hidden;
    position: absolute;
    display: block;
    width: 285px;
    border-radius: 10px;
    background-color: var(--color-font-secondary);
    color: var(--color-text-primary);
    padding: 7px 0px;
    z-index: 20;
    transform: translate(815px,20px);
}
.search-videos .videos .icon-options{
    visibility: hidden;
    width: 5%;
    text-align: center;
}
.search-videos .videos .icon-options ion-icon{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    padding: 8px;
    margin-top: -8px;
}
.search-videos .videos .option{
    display: flex;
    align-items: center;
    gap: 13.5px;
    padding: 5.3px 14px;
}
.search-videos .videos .option p{
    width: 100%;
    padding-top: 1.5px;
    padding-right: 3px;
    font-size: 13px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text-icon-youtube);
}
.search-videos .videos .option ion-icon{
    width: 27px;
    height: 27px;
}
.search-videos .videos .option:hover{
    cursor: pointer;
    background-color: var(--color-font-cuartiary);
}
.search-videos .videos .video{
    display: flex;
    width: 100%;
    gap: 15px;
    max-height: 203px;
    min-height: 203px;
    margin-bottom: 15px;
    text-decoration: none;
    color: var(--color-text-primary);
}
.search-videos .videos .video .imagen .icon-player{
    visibility: hidden;
    display: flex;
    justify-content: center;
    transform: translateY(-194px);
}
.search-videos .videos .video .imagen .icon-player ion-icon{
    color: var(--color-text-primary);
    opacity: 0.8;
    width: 38px;
    height: 38px;
}
@keyframes animate_icon_player{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0.8;
    }
}
.search-videos .videos .video .imagen .content-icons{
    position: relative;
    z-index: 5;
    width: 100%;
    visibility: hidden;
    display: flex;
    justify-content: flex-end;
    transform: translateY(-203px);
}
.search-videos .videos .video .imagen .content-icons .icons{
    margin-right: 5px;
}
.search-videos .videos .video .imagen .icons ion-icon{
    margin-bottom: 5px;
    border-radius: 3px;
    padding: 1px;
    width: 25px;
    height: 25px;
    display: block;
    background-color: var(--color-font-primary);
    color: var(--color-text-primary);
}
.search-videos .videos .video button{
    outline: none;
    border: none;
    display: flex;
    align-items: flex-start;
    width: 1.8%;
    background-color: var(--color-font-primary);
}
.search-videos .videos .video button ion-icon{
    visibility: hidden;
    width: 20px;
    height: 20px;
    color: var(--color-text-primary);
}
.search-videos .videos .video .imagen{
    min-width: 32.5%;
    max-width: 32.5%;
}
.search-videos .videos .video .imagen:hover .content-icons{
    cursor: pointer;
    visibility: visible;
}
.search-videos .videos .video .imagen:hover .icon-player{
    cursor: pointer;
    animation: animate_icon_player 0.5s;
}
.search-videos .videos .video .imagen .duration{
    transform: translateY(-128px);
}
.search-videos .videos .video .imagen .duration span{
    color: var(--color-text-primary);
    font-size: 12.3px;
}
.search-videos .videos .video .imagen img{
    width: 100%;
    height: 100%;
}
.search-videos .videos .video .description{
    background-color: var(--color-font-primary);
    min-width: 63%;
    max-width: 66.5%;
    padding-top: 5px;
}
.search-videos .videos .video .description .title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.search-videos .videos .video .description .visualizaciones{
    padding-top: 1px;
    padding-left: 2px;
}
.search-videos .videos .video .description .icon-autor{
    position: relative;
    margin-top: 13px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.search-videos .videos .video .description .icon-autor img{
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    border-radius: 50%;
}
.search-videos .videos .video .description .icon-autor p{
    padding-top: 3px;
    font-size: 12px;
    font-weight: normal;
    color: var(--color-text-secondary);
    letter-spacing: normal;
}
.search-videos .videos .video .description .description-video{
    margin-top: 17px;
    color: var(--color-text-secondary);
    letter-spacing: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/**--------------------------------**/

/**-----------Views videos---------**/
.section-view-video{
    display: flex;
}
.view_videos{
    width: 63%;
    padding: 80px 10px 10px 63px;
}
.view_videos .player iframe{
    width: 715px;
    height: 400px;
    border: none;
    outline: none;
}
.view_videos .title{
    color: var(--color-text-primary);
    font-size: 17.3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 715px;
    margin: 11px 1px;
    letter-spacing: 0.1px;
}
.view_videos .details{
    display: flex;
    align-items: center;
    width: 715px;
    height: 50px;
}
.view_videos .details .btns-izq, .view_videos .details .btns-der{
    width: 50%;
    display: flex;
    align-items: center;
    height: 40px;
}
.view_videos .details .btns-der{
    justify-content: flex-end;
    gap: 5px;
}
.view_videos .details .icon{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
}
.view_videos .details .subscriptions{
    padding: 2px 12px;
    width: 195px;
    line-height: 20px;
}
.view_videos .details .subscriptions div{
    display: flex;
    gap: 2px;
}
.view_videos .details .subscriptions div .autor{
    color: var(--color-text-primary);
    font-size: 15.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.view_videos .details .subscriptions div ion-icon{
    min-width: 14.8px;
    min-height: 14.8px;
    color: var(--color-text-secondary);
}
.view_videos .details .subscriptions .count{
    color: var(--color-text-secondary);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.view_videos .details .btn-subscription{
    border:none;
    outline: none;
    border-radius: 20px;
    width: 107px;
    height: 37px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 13.5px;
    background-color: var(--color-text-primary);
}
.view_videos .details .btn-subscription:hover{
    cursor: pointer;
    opacity: 0.9;
}
.view_videos .details .btn-likes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 36px;
    width: 105px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5px 10px;
    outline: none;
    border: none;
    background-color: var(--color-font-button-likes);
    color: var(--color-text-primary);
}
.view_videos .details .btn-likes:hover, .view_videos .details .btn-no-likes:hover{
    cursor: pointer;
    background-color: var(--color-font-hover-buttons);
}
.view_videos .details .btn-likes p{
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view_videos .details .btn-likes ion-icon, .view_videos .details .btn-no-likes ion-icon{
    width: 20px;
    height: 20px;
}
.view_videos .details .btn-no-likes{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-left: 1px solid var(--color-text-cuartiary);
    height: 36px;
    width: 50px;
    margin-left: -5px;
    background-color: var(--color-font-button-likes);
    color: var(--color-text-primary);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.view_videos .details .share{
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    height: 36px;
    width: 130px;
    background-color: var(--color-font-button-likes);
    color: var(--color-text-primary);
    border-radius: 20px;
    gap: 8px;
    padding: 0px 12px;
}
.view_videos .details .share:hover{
    cursor: pointer;
    background-color: var(--color-font-hover-buttons);
}
.view_videos .details .share ion-icon{
    width: 23px;
    height: 23px;
}
.view_videos .details .share p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.view_videos .details .option{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: var(--color-font-button-likes);
    color: var(--color-text-primary);
    border-radius: 50%;
    height: 36px;
    padding: 0 8.6px;
}
.view_videos .details .option:hover{
    cursor: pointer;
    background-color: var(--color-font-hover-buttons);
}
.view_videos .details .option ion-icon{
    width: 18px;
    height: 18px;
}
.view_videos .comments{
    display: block;
    gap: 30px;
    width: 715px;
    font-size: 15px;
    letter-spacing: 0.3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.view_videos .comments .top{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
    color: var(--color-text-primary);
}
.view_videos .comments .top .order{
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background-color: transparent;
    gap: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: var(--color-text-primary);
}
.view_videos .comments .top .order:hover{
    cursor: pointer;
}
.view_videos .comments .top ion-icon{
    width: 25px;
    height: 25px;
}
.view_videos .comments .body{
    margin-top: 20px;
}
.view_videos .comments .body .add-comment{
    width: 715px;
    display: flex;
    flex-wrap: wrap;
}
.view_videos .comments .body .add-comment img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    max-width: 5.6%;
    min-width: 5.6%;
}
.view_videos .comments .body .add-comment textarea{
    outline: none;
    margin-left: 15px;
    width: 92.3%;
    height: 25px;
    border: none;
    border-bottom: 1.1px solid var(--color-text-secondary);
    background-color: var(--color-font-primary);
    color: var(--color-text-primary);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 13.3px;
    letter-spacing: 0.6px;
    resize:none;
    padding-top: 4px;
}
.view_videos .comments .body .push-comment{
    display: flex;
    margin-left: 6.8%;
    margin-top: -7px;
    width: 100%;
    visibility: hidden;
    padding: 2px 0px;
}
.view_videos .comments .body .push-comment ion-icon{
    width: 22px;
    height: 22px;
    padding: 6px 4px;
    color: var(--color-text-primary);
    width: 4%;
    margin: auto;
}
.view_videos .comments .body .push-comment .buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 96%;
}
.view_videos .comments .body .push-comment .buttons .add{
    color: var(--color-text-cuartiary);
    background-color: var(--color-font-button-likes);
}
.view_videos .comments .body .push-comment .buttons .close{
    background-color: transparent;
    color: var(--color-text-primary);
}
.view_videos .comments .body .push-comment .buttons .add:hover{
    cursor: pointer;
    background-color: var(--color-border-input-search);
    color: var(--color-text-primary)
}
.view_videos .comments .body .push-comment .buttons .close:hover{
    cursor: pointer;
    background-color: var(--color-font-button-likes);
}
.view_videos .comments .body .push-comment ion-icon:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--color-font-button-likes);
}
.view_videos .comments .body .push-comment button{
    height: 35px;
    border-radius: 25px;
    padding: 5px 15px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    font-weight: 600;
}
.view_videos .comments .body .add-comment textarea:focus ~ .push-comment{
    visibility: visible;
}
.view_videos .comments .list-comments{
    margin-top: 20px;
    width: 715px;
    display: block;
}
.view_videos .comments .list-comments .datails-comment{
    width: 100%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}
.view_videos .comments .list-comments .datails-comment .icon{
    width: 7.5%;
}
.view_videos .comments .list-comments .datails-comment img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.view_videos .comments .list-comments .datails-comment:hover .option-comment{
    visibility: visible;
}
.view_videos .comments .list-comments .datails-comment .option-comment{
    width: 20px;
    height: 20px;
    color: var(--color-text-primary);
    margin-right: -5px;
    visibility: hidden;
}
.view_videos .comments .list-comments .datails-comment img:hover{
    cursor: pointer;
}
.view_videos .comments .list-comments .datails-comment .description{
    width: 92.5%;
    color: var(--color-text-primary);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 18px;
    font-weight: bold;
}
.view_videos .comments .list-comments .datails-comment .description p:nth-child(1){
    margin-bottom: 5px;
    color: var(--color-text-cuartiary);
    font-size: 12.7px;
    font-weight: 500;
}
.view_videos .comments .list-comments .datails-comment .description p:nth-child(1):hover{
    cursor: pointer;
    color: var(--color-text-primary);
}
.view_videos .comments .list-comments .datails-comment .description p strong:nth-child(1){
    color: var(--color-text-primary);
    margin-right: 5px;
}
.view_videos .comments .list-comments .datails-comment .description .btns-comment{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 35px;
}
.view_videos .comments .list-comments .datails-comment .description .btns-comment span{
    margin-left: -10px;
    font-size: 13px;
    color: var(--color-text-secondary);
}
.view_videos .comments .list-comments .datails-comment .description .btns-comment ion-icon{
    width: 20px;
    height: 20px;
    color: var(--color-text-primary);
    padding: 6px;
    border-radius: 50%;
}
.view_videos .comments .list-comments .datails-comment .description .btns-comment ion-icon:hover{
    cursor: pointer;
    background-color: var(--color-font-hover-buttons);
}
.view_videos .comments .list-comments .datails-comment .description .btns-comment button{
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--color-text-primary);
    margin-left: 15px;
    padding: 8px 11px;
}
.view_videos .comments .list-comments .datails-comment .description .btns-comment button:hover{
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--color-font-hover-buttons);
}
.view_videos .comments .list-comments .view-replies{
    display: flex;
    align-items: center;
    margin: 0 0px 10px 7.3%;
    font-weight: bold;
    outline: none;
    border: none;
    font-size: 12.5px;
    padding-left: 5px;
    padding-right: 17px;
    letter-spacing: 0.5px;
    border-radius: 20px;
    background-color: transparent;
    color: var(--color-border-input-search);
}
.view_videos .comments .list-comments .view-replies:hover{
    cursor: pointer;
    background-color: var(--color-font-hover-button-reintentar);
}
.view_videos .comments .list-comments .view-replies ion-icon{
    color: var(--color-border-input-search);
    width: 20px;
    height: 20px;
    padding: 7px;
}
.view_videos .comments .list-comments .replies{
    display: none;
}
.view_videos .comments .list-comments .watch_replies{
    display: block;
}
.view_videos .comments .list-comments .datails-comment-replies{
    width: 92%;
    display: flex;
    margin-left: 8%;
    align-items: flex-start;
    margin-bottom: 20px;
}
.view_videos .comments .list-comments .datails-comment-replies .icon{
    width: 7.5%;
}
.view_videos .comments .list-comments .datails-comment-replies img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.view_videos .comments .list-comments .datails-comment-replies:hover .option-comment{
    visibility: visible;
}
.view_videos .comments .list-comments .datails-comment-replies .option-comment{
    width: 20px;
    height: 20px;
    color: var(--color-text-primary);
    margin-right: -5px;
    visibility: hidden;
}
.view_videos .comments .list-comments .datails-comment-replies img:hover{
    cursor: pointer;
}
.view_videos .comments .list-comments .datails-comment-replies .description{
    width: 92.5%;
    color: var(--color-text-primary);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 13.5px;
    line-height: 18px;
    font-weight: bold;
}
.view_videos .comments .list-comments .datails-comment-replies .description p:nth-child(1){
    margin-bottom: 5px;
    color: var(--color-text-cuartiary);
    font-size: 12.7px;
    font-weight: 500;
}
.view_videos .comments .list-comments .datails-comment-replies .description p:nth-child(1):hover{
    cursor: pointer;
    color: var(--color-text-primary);
}
.view_videos .comments .list-comments .datails-comment-replies .description p strong:nth-child(1){
    color: var(--color-text-primary);
    margin-right: 5px;
}
.view_videos .comments .list-comments .datails-comment-replies .description .btns-comment{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    height: 35px;
}
.view_videos .comments .list-comments .datails-comment-replies .description .btns-comment span{
    margin-left: -10px;
    font-size: 13px;
    color: var(--color-text-secondary);
}
.view_videos .comments .list-comments .datails-comment-replies .description .btns-comment ion-icon{
    width: 20px;
    height: 20px;
    color: var(--color-text-primary);
    padding: 6px;
    border-radius: 50%;
}
.view_videos .comments .list-comments .datails-comment-replies .description .btns-comment ion-icon:hover{
    cursor: pointer;
    background-color: var(--color-font-hover-buttons);
}
.view_videos .comments .list-comments .datails-comment-replies .description .btns-comment button{
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--color-text-primary);
    margin-left: 15px;
    padding: 8px 11px;
}
.view_videos .comments .list-comments .datails-comment-replies .description .btns-comment button:hover{
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--color-font-hover-buttons);
}
.view_videos .description-view-video{
    margin-top: 20px;
    background-color: var(--color-font-secondary);
    border-radius: 10px;
    color: var(--color-text-primary);
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3px;
}
.view_videos .description-view-video p:nth-child(1){
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
}
.view_videos .description-view-video p:nth-child(2){
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    padding-right: 25px;
    line-height: 20px;
    color: var(--color-text-primary);
}
/**----------------------------------**/

/**------View videos favorites-------**/
.views-videos-related .categories{
    color: var(--color-text-primary);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.views-videos-related .categories a{
    text-decoration: none;
    border-radius: 7px;
    background-color: var(--color-font-secondary);
    color: var(--color-text-primary);
    padding: 8px 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.3px;
    letter-spacing: 0.4px;
}
.views-videos-related .categories a:nth-child(1){
    background-color: var(--color-text-primary);
    color: var(--color-font-primary);
}
.views-videos-related .categories a:hover{
    cursor: pointer;
    background-color: var(--color-font-hover-buttons);
}
.views-videos-related .categories a:nth-child(1):hover{
    background-color: var(--color-text-primary);
}
.views-videos-related .nav-categories-two{
    color: var(--color-text-primary);
    width: 455px;
    display: flex;
    margin-top: 77px;
}
.views-videos-related .categories{
    color: var(--color-text-primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    gap: 10px;
    margin-left: -11.5px;
}
.nav-categories-two .categories .categori{
    text-align: center;
}
.views-videos-related .categories::-webkit-scrollbar{
    height: 0px;
}
.prev-two, .next-two{
    position: relative;
    background-color: var(--color-font-primary);
    width: 45px;
    z-index: 15;
    border: none;
    outline: none;
}
.prev-two{
    display: none;
    margin-top: 2.5px;
    box-shadow: 8px -10px 45px 6px var(--color-font-primary);
}
.next-two{
    margin-top: 4px;
    box-shadow: -8px -10px 45px 6px var(--color-font-primary);
}
.prev-two ion-icon, .next-two ion-icon{
    color: var(--color-text-primary);
    width: 20px;
    height: 20px;
    padding: 8.5px;
    border-radius: 50%;
}
.prev-two ion-icon:hover, .next-two ion-icon:hover{
    cursor: pointer;
    background-color: var(--color-font-hover-buttons);
}
.views-videos-related{
    width: 37%;
    display: block;
}
.views-videos-related .videos-favorites{
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
.views-videos-related .videos-favorites .options{
    visibility: hidden;
    position: absolute;
    display: block;
    width: 270px;
    border-radius: 10px;
    background-color: var(--color-font-secondary);
    color: var(--color-text-primary);
    padding: 7px 0px;
    z-index: 20;
    transform: translate(92px,20px);
}
.views-videos-related .videos-favorites .icon-options{
    visibility: hidden;
    width: 5%;
    text-align: center;
    color: var(--color-text-primary);
}
.views-videos-related .videos-favorites .icon-options ion-icon{
    width: 17px;
    height: 17px;
    border-radius: 50%;
}
.views-videos-related .videos-favorites .option{
    display: flex;
    align-items: center;
    gap: 13.5px;
    padding: 5.3px 14px;
}
.views-videos-related .videos-favorites .option p{
    width: 100%;
    padding-top: 1.5px;
    padding-right: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: var(--color-text-icon-youtube);
}
.views-videos-related .videos-favorites .option ion-icon{
    width: 27px;
    height: 27px;
}
.views-videos-related .videos-favorites .option:hover{
    cursor: pointer;
    background-color: var(--color-font-cuartiary);
}
.views-videos-related .videos-favorites .player-favorite:hover .icon-options ion-icon{
    visibility: visible;
}
.views-videos-related .videos-favorites .player-favorite{
    display: flex;
    justify-content: center;
    margin-bottom: -63px;
    padding-right: 4px;
    gap: 9px;
    text-decoration: none;
}
.views-videos-related .videos-favorites .player-favorite:hover .icons ion-icon{
    visibility: visible;
}
.views-videos-related .videos-favorites .player-favorite:hover .duration{
    transition-duration: 0.4s;
    visibility: hidden;
}
.views-videos-related .videos-favorites .player-favorite .icons ion-icon{
    color: var(--color-text-primary);
    visibility: hidden;
}
.views-videos-related .videos-favorites .player-favorite .imagen{
    width: 40.8%;
}
.views-videos-related .videos-favorites .player-favorite .datails{
    width: 59.2%;
}
.views-videos-related .videos-favorites .player-favorite .datails p{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3px;
    line-height: 18px;
}
.views-videos-related .videos-favorites .player-favorite .datails p:nth-child(1){
    color: var(--color-text-primary);
    font-size: 12.5px;
    font-weight: bold;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 4px;
}
.views-videos-related .videos-favorites .player-favorite .datails div{
    display: flex;
    gap: 5px;
}
.views-videos-related .videos-favorites .player-favorite .datails div p:nth-child(1){
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin-bottom: 1.5px;
    color: var(--color-text-secondary);
    font-size: 12.5px;
    font-weight: 500;
}
.views-videos-related .videos-favorites .player-favorite .datails div ion-icon{
    width: 16px;
    height: 16px;
    color: var(--color-text-secondary);
}
.views-videos-related .videos-favorites .player-favorite .datails p:nth-child(3){
    color: var(--color-text-secondary);
    font-size: 12.5px;
}
.views-videos-related .videos-favorites .player-favorite img{
    border-radius: 9px;
    width: 173px;
    height: 100px;
}
.views-videos-related .videos-favorites .player-favorite .imagen .duration{
    position: relative;
    z-index: 5;
    transform: translate(130px, -76px);
    border-radius: 4px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.3px;
    background-color: var(--color-font-primary);
    color: var(--color-text-primary);
    padding: 1.8px 0px;
    width: 39px;
    text-align: center;
}
.views-videos-related .videos-favorites .player-favorite .imagen .icons{
    position: relative;
    z-index: 5;
    transform: translate(145px, -99px);
    width: 30px;
}
.views-videos-related .videos-favorites .player-favorite .imagen .icons ion-icon{
    display: block;
    margin-bottom: 3px;
    border-radius: 3px;
    background-color: var(--color-font-primary);
    color: var(--color-text-primary);
    padding: 0.8px;
    width: 21px;
    height: 21px;
}
/**---------------------------------**/

/**-------------Hashtag-------------**/
.header-hashtag{
    position: relative;
    top: 60px;
    left: 97px;
    width: 100%;
    background-color: red;
    margin-bottom: -65px;
    line-height: 31px;
    z-index: 15;
    animation: animate_header_hashtag 1s linear;
}
@keyframes animate_header_hashtag{
    0%{
        top: 60px;
    }
    100%{
        top: -25px;
    }
}

.header-hashtag p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 0.2px;
}
.header-hashtag .details{
    display: flex;
    gap: 7px;
}
.header-hashtag p:nth-child(1){
    color: var(--color-text-icon-youtube);
    font-size: 23px;
}
.header-hashtag .details p{
    color: var(--color-text-secondary);
    font-size: 16px;
}
.header-hashtag .details p:nth-child(2)::before{
    position: relative;
    content: "•";
    color: var(--color-text-secondary);
    margin-right: 3px;
}
.header-hashtag .categories{
    display: flex;
    gap: 12px;
}
.header-hashtag .categories a{
    margin-top: 35px;
    background-color: var(--color-font-secondary);
    padding: 0px 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 13.3px;
    letter-spacing: 0.5px;
    border-radius: 7px;
    text-decoration: none;
    color: var(--color-text-primary);
}
.header-hashtag .categories a:nth-child(1){
    background-color: var(--color-text-primary);
    color: var(--color-font-primary);
}
.header-hashtag .categories a:nth-child(2):hover{
    background-color: var(--color-font-hover-buttons);
}
/**---------------------------------**/

/**-------Sin internet--------**/
.sin-internet{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 60px;
}
.sin-internet .main svg{
    width: 120px;
    height: 120px;
    margin: auto;
}
.sin-internet .main{
    display: block;
    text-align: center;
    line-height: 42px;
    padding: 65px 25px 0px 25px;
}
.sin-internet .main .text-1{
    margin-top: 5px;
    font-size: 23.8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: var(--color-text-primary);
}
.sin-internet .main .text-2{
    font-size: 14.2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: var(--color-text-primary);
    margin-bottom: 10px;
}
.sin-internet .main .reintentar{
    text-decoration: none;
    color: var(--color-border-input-search);
    border: 0.1px solid var(--color-font-hover-buttons);
    border-radius: 20px;
    padding: 10px 15px;
    font-size: 14.3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.sin-internet .main .reintentar:hover{
    background-color: var(--color-font-hover-button-reintentar);
}
.sin-internet .footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    width: 100%;
    z-index: 20;;
    text-align: center;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    background-color: var(--color-font-cuartiary);
    color: var(--color-text-primary);
}
/**---------------------------**/