:root{
    --color-icon-youtube : #ff0000;
    --color-font-primary : #000000;
    --color-font-secondary : rgb(40, 38, 38);
    --color-font-tertiary : #aaa5a53d;
    --color-font-cuartiary : #aaa5a52d;
    --color-font-button-likes : #4e464692;
    --color-font-quintuary : rgb(28, 27, 27);
    --color-text-primary : #ffffffd7;
    --color-text-icon-youtube : #ffffff;
    --color-text-secondary : #aaa5a5;
    --color-text-cuartiary : #aaa5a5c3;
    --color-border-input-search : #0084ff;
    --color-font-hover-buttons : #aaa5a55e;
    --color-font-hover-button-reintentar: #0084ff43;
    --color-font-nav-items: #2d2b2b3f;
    --color-text-primary-logaut: #3775f0;
}
/**------------General------------**/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: var(--color-font-primary);
    width: 100%;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 9px;
}
body::-webkit-scrollbar-thumb{
    background: var(--color-text-secondary);
    border-radius: 30px;
}
.logo .menu{
    margin-left: 10px;
    margin-right: 12px;
}
/**--------------Videos-------------**/
.line-nav-options{
    margin: 7px 0px;
    border-bottom: 1px solid var(--color-text-secondary);
    opacity: 0.4;
}
.live{
    position: relative;
    display: flex;
    align-items: center;
    gap: 5px;
    min-width: 101px;
    max-width: 101px;
    border-radius: 3px;
    padding: 2px 3px;
    margin-top: 6px;
    background-color: var(--color-icon-youtube);
}
.live span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-top: 1.5px;
    font-weight: 600;
    color: var(--color-text-icon-youtube);
}
.live ion-icon{
    width: 15px;
    height: 15px;
    color: var(--color-text-icon-youtube);
}