.search-videos .options{
    transform: translate(815px,20px);
}
.search-videos .options .option p{
    width: 100%;
    font-size: 13px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}