.videos-load-home{
    background-color: var(--color-font-primary);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px 23px;
    padding-left: 10px;
    color: var(--color-text-primary);
}
.videos-load-home .video{
    background-color: var(--color-font-secondary);
    width: 357px;
    height: 200px;
    border-radius: 10px;
    animation: animation_opacity 1.6s linear infinite;
}
.videos-load-home .header{
    display: flex;
}
.videos-load-home .icon, .videos-load-home .title, .videos-load-home .description{
    position: relative;
    background-color: var(--color-font-secondary);
    transform: translateY(207px);
}
.videos-load-home .icon{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.videos-load-home .title{
    width: 77%;
    margin-left: 15px;
    height: 17.5px;
    border-radius: 3px;
}
.videos-load-home .description{
    margin-left: 51px;
    width: 47%;
    margin-top: -9px;
    height: 16.5px;
    border-radius: 3px;
}
@keyframes animation_opacity{
    0%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}
@media (max-width : 600px){
    .videos-load-home{
        gap: 60px;
        justify-content: center;
    }
}
@media (max-width : 400px){
    .videos-load-home .video{
        border-radius: 0px;
    }
}