.videos{
    background-color: var(--color-font-primary);
    padding: 137px 0px 50px 95px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 13.5px;
    color: var(--color-text-primary);
}
.videos a{
    padding-left: 10px;
    text-decoration: none;
    color: var(--color-text-primary);
}
.videos .video{
    width: 357px;
    margin-bottom: 30px; 
} 
.videos .video:hover{
    cursor: pointer;
}
.videos .video .imagen_frame{
    border: none;
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
}
.videos .video .imagen{
    border: none;
    margin-bottom: 14px;
    width: 100%;
    height: 200px;
    border-radius: 12px;
}
.videos .video .imagen img{
    border-radius: 12px;
    width: 100%;
    height: 200px;
}
.videos .video .imagen .duration{
    position: relative;
    z-index: 5;
    transform: translateY(-26px);
    padding: 0px 5px;
    text-align: end;
}
.videos .video .imagen .duration span{
    position: relative;
    width: auto;
    padding: 1.8px 3px;
    background-color: var(--color-font-primary);
    color: var(--color-text-primary);
    border-radius: 4px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.3px;
}
.videos .video .icon-autor{
    display: flex;
    gap: 12px;
    margin-top: -7px;
}
.videos .video .icon-autor .icon-options{
    visibility: hidden;
    width: 5%;
    text-align: center;
}
.videos .video .icon-autor .icon-options ion-icon{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    padding: 8px;
    margin-left: 5px;
}
@keyframes animate_click_icon_options{
    0%,100%{
        background: var(--color-font-button-likes);
    }
}
.videos .video .icon-autor img{
    max-width: 35px;
    min-width: 35px;
    height: 35px;
    border-radius: 50px;
    width: 18%;
}
.videos .video .icon-autor p{
    width: 75%;
    line-height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.3px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: var(--color-text-primary);
}
.videos .video .name-autor{
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 45px;
    font-size: 11.8px;
    letter-spacing: 0.2px;
    margin-top: 8px;
    color: var(--color-text-secondary);
}
.videos .video .name-autor:hover{
    cursor: pointer;
    color: var(--color-text-primary);
}
.videos .video .name-autor ion-icon{
    width: 14px;
    height: 14px;
    color: var(--color-text-secondary);
}
.videos .video .visualizaciones{
    margin-top: 3px;
    padding-left: 45px;  
}
.videos .video .visualizaciones p{
    font-size: 11.8px;  
    letter-spacing: 0.4px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-text-secondary);
}
/**-----------Celulares---------------**/
@media (min-width : 600px){
    .videos .video:hover .icon-options{
        visibility: visible;
    }
}
@media (max-width : 600px){
    .videos{
        justify-content: center;
        padding: 101px 0px 0px 0px;
    }   
    .videos a{
        padding-left: 0px;
    }
    .videos .video .icon-autor .icon-options{
        visibility: visible;
    }
}
@media (max-width : 520px){
    .videos a, .videos .video{
        width: 100%;
    }
    .videos .video{
        margin-bottom: 7px; 
    } 
    .videos .video .imagen, .videos .video .imagen img{
        border-radius: 0px;
    }
}