.playlist{
    background-color: var(--color-font-primary);
    padding: 80px 50px 50px 95px;
    color: var(--color-text-primary);
}
.playlist .presentation{
    position: fixed;
    width: 360px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 23px 23px;
    background-repeat: no-repeat;
    background-size: 6000px;
    height: 100vh;
}
.playlist .presentation::before{
    content: "";
    inset: 100% 0 0 0;
    position: absolute;
    height: 500px;
    box-shadow: -90px -350px 230px 0px rgba(0, 0, 0, 0.904);
    background-color: none;
    z-index: -1;
}
.playlist .presentation .header{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.playlist .presentation article{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.playlist .presentation div .title, .playlist .presentation div .name{
    color: var(--color-text-primary);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.playlist .presentation div .title{
    font-size: 25px;
}
.playlist .presentation div .name{
    font-size: 14px;
}
.playlist .presentation div:nth-child(2){
    display: flex;
    gap: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.playlist .presentation div:nth-child(3){
    padding: 20px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7px;
}
.playlist .presentation div:nth-child(3) a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 20px;
    gap: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
}
.playlist .presentation div:nth-child(3) a:hover{
    cursor: pointer;
    opacity: 0.8;
}
.playlist .presentation div:nth-child(3) a span{
    margin-top: 1.5px;
}
.playlist .presentation div:nth-child(3) a:nth-child(1) ion-icon{
    width: 20px;
    height: 20px;
}
.playlist .presentation div:nth-child(3) a:nth-child(2) ion-icon{
    width: 25px;
    height: 25px;
}
.playlist .presentation div:nth-child(3) a:nth-child(1){
    background-color: var(--color-text-primary);
    color: var(--color-font-primary);
}
.playlist .presentation div:nth-child(3) a:nth-child(2){
    color: var(--color-text-primary);
    background-color: var(--color-font-quintuary);
}
.playlist .presentation img{
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
}
.playlist .presentation img:hover ~ .imagen{
    visibility: visible;
}
.playlist .presentation .imagen{
    visibility: hidden;
    position: absolute;
    transform: translateY(-200px);
    background-color: rgba(0, 0, 0, 0.669);
    border-radius: 10px;
    display: grid;
    justify-content: center;
    place-items: center;
    height: 176px;
    width: 87.5%;
    cursor: pointer;
}
.playlist .presentation .imagen div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.playlist .presentation .imagen div span{
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.playlist .presentation .imagen div ion-icon{
    width: 23px;
    height: 23px;
}
.playlist .presentation img:hover{
    cursor: pointer;
}
.playlist .list{
    padding-top: 20px;
    padding-left: 365px;
}
.playlist .list .header .title{
    display: flex;
    align-items: center;
    margin-left: 35px;
    gap: 10px;
    margin-bottom: 10px;
    width: 95px;
}
.playlist .list .header .title:hover{
    cursor: pointer;
}
.playlist .list .header .title ion-icon{
    width: 23px;
    height: 23px;
}
.playlist .list .header .title span{
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.4px;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
.playlist .list .body .items{
    display: flex;
    flex-direction: column;
    gap: 0px;
}
.playlist .list .body .items .item{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px 8px 3px;
    border-radius: 10px;
}
.playlist .list .body .items .item:hover{
    cursor: pointer;
    background-color: var(--color-font-quintuary);
}
.playlist .list .body .items .item:hover .icon-right{
    visibility: visible;
    transition-timing-function: ease-in-out;
}
.playlist .list .body .items .item .icon-right{
    visibility: hidden;
    display: grid;
    place-items: center;
    width: 35px;
    height: 32px;
    border-radius: 50%;
    transition-duration: 200ms;
}
.playlist .list .body .items .item .icon-right:hover{
    cursor: pointer;
    background-color: var(--color-font-tertiary);
}
.playlist .list .body .items .item .icon-left ion-icon{
    width: 27px;
    height: 27px;
}
.playlist .list .body .items .item .icon-right ion-icon{
    width: 17px;
    height: 17px;
}
.playlist .list .body .items .video{
    display: flex;
    gap: 7px;
    width: 100%;
    max-height: 90px;
    min-height: 90px;
    text-decoration: none;
    color: var(--color-text-primary);
}
.playlist .list .body .items .video .imagen{
    min-width: 155px;
    max-width: 155px;
}
.playlist .list .body .items .video .imagen .duration{
    position: relative;
    z-index: 5;
    transform: translateY(-26px);
    padding: 0px 5px;
    text-align: end;
}
.playlist .list .body .items .video .imagen .duration span{
    position: relative;
    width: auto;
    padding: 1.8px 3px;
    background-color: var(--color-font-primary);
    color: var(--color-text-primary);
    border-radius: 4px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.3px;
}
.playlist .list .body .items .video .imagen img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.playlist .list .body .items .video .description{
    padding-top: 5px;
}
.playlist .list .body .items .video .description .title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.playlist .list .body .items .video .description .data{
    display: flex;
    gap: 7px;
    color: var(--color-text-secondary);
    margin-top: 10px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.playlist .list .body .items .video .description .data span:nth-child(1):hover{
    cursor: pointer;
    color: var(--color-text-primary);
}